<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G23</title>
</head>
<body>
    <h1>Welcome to G23</h1>

    <!-- <h1><%= FinalName %></h1>
    <ul>
        <% for (let i = 0; i < fruits.length; i++) { %>
            <li><%= fruits[i] %></li>
        <% } %>
    </ul> -->

    <h1><%= harpuneet.name %></h1>
    <h1><%= harpuneet.age %></h1>
    <h1><%= harpuneet.city %></h1>
    <h1><%= harpuneet.college %></h1>
</body>
</html>